
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(100, 100%, 45%);
}


.text__container {
    background: hsl(270, 100%, 50%);
    
    /* flex justify content and align items center somehow not working */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 3px solid black;
    height: 80px;
    width: 80px;
    
    margin: auto;

    box-shadow: 0 0 0 10px hsl(20, 100%, 50%), 0 0 0 20px hsl(210, 100%, 50%), 0 0 0 30px hsl(300, 100%, 50%), 0 0 0 40px hsl(100, 100%, 100%), 0 0 0 50px hsl(100, 100%, 0%);
}

.text__container h1 {
    color: hsla(100, 100%, 100%, .5);
    display: flex;
    justify-content: center;
    font-size: small;
    margin-top: 45%;
}